html {
    height: 100%;
  }
  body {
    min-height: 100%;
  }

.main-container {
    margin-top: 100px;
}

.fa-microphone {
    color: #14A76C;
}

.fa-microphone:hover {
    color: #0c6e47;
}

.fa-file-audio {
    color: #FF652F;
}

.fa-file-audio:hover {
    color: #d44916;
}

.output-display {
    background-color: #383b4b;
    height: 200px;
}

.fas, .fa {
    cursor: pointer;
}

.background {
    background-color: #d4dcd5;
    color: #747474;
    height: 100%;
}

#root {
    height: 100%;
    min-height: 100%;
}